.headerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;

    .filtersWrapper {
        display: flex;
        gap: 20px;
        margin-left: 50px;

        .search {
            width: 250px;
        }

        .email {
            width: 250px;
        }

        .age {
            width: 150px;
        }
    }

    .addButtonWrapper {
        margin-right: 50px;
    }
}

.tableWrapper {
    padding: 30px 50px 50px 50px;
}
table {
    width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}